Repository kube-logging/logging-operator, pull requests merged in 2019-12, with the labels that each got.

#275 FluentD Grep filter support
  charts/logging-operator/templates/logging.banzaicloud.io_clusterflows.yaml
  charts/logging-operator/templates/logging.banzaicloud.io_flows.yaml
  cmd/docs.go
  config/crd/bases/logging.banzaicloud.io_clusterflows.yaml
  config/crd/bases/logging.banzaicloud.io_flows.yaml
  docs/plugins/Readme.md
  docs/plugins/filters/grep.md
  pkg/sdk/api/v1beta1/flow_types.go
  pkg/sdk/api/v1beta1/zz_generated.deepcopy.go
  pkg/sdk/model/filter/grep.go
  pkg/sdk/model/filter/grep_test.go
  pkg/sdk/model/filter/zz_generated.deepcopy.go
Labels: filter, fluentd

#286 -> podSecurityContext back to the future
  charts/logging-operator/Chart.yaml
  charts/logging-operator/templates/deployment.yaml
  charts/logging-operator/values.yaml
Labels: bug, chart

#299 Update deployment image to use version 2.7.0
  docs/deploy/manifests/deployment.yaml
Labels: bug

#301 Add Fluentd scaling configuration to docs.
  docs/crds.md
Labels: community, documentation
