Repository kube-logging/logging-operator, pull requests merged in 2020-05, with the labels that each got.

#473 Multiline parser support
  charts/logging-operator/crds/logging.banzaicloud.io_clusterflows.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_flows.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_loggings.yaml
  config/crd/bases/logging.banzaicloud.io_clusterflows.yaml
  config/crd/bases/logging.banzaicloud.io_flows.yaml
  config/crd/bases/logging.banzaicloud.io_loggings.yaml
  docs/plugins/filters/parser.md
  pkg/sdk/model/filter/parser.go
  pkg/sdk/model/filter/parser_test.go
  pkg/sdk/model/filter/zz_generated.deepcopy.go
  pkg/sdk/static/gen/crds/generated.go
Labels: fluentd, parser

#478 New Fluentd image support 1.10
  fluentd-image/v1.10/Dockerfile
  fluentd-image/v1.10/entrypoint.sh
  fluentd-image/v1.10/fluent.conf
  fluentd-image/v1.10/healthy.sh
Labels: fluentd

#482 Fix Fluentd 1.10.3 dependency
  fluentd-image/v1.10/Dockerfile
Labels: bug, fluentd

#479 Add defaultFlow to helm chart
  charts/logging-operator-logging/README.md
  charts/logging-operator-logging/templates/logging.yaml
  charts/logging-operator-logging/values.yaml
Labels: chart, contribution

#490 Expose Username/Password for SASL authentication
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/plugins/outputs/kafka.md
  pkg/sdk/model/output/kafka.go
  pkg/sdk/model/output/zz_generated.deepcopy.go
  pkg/sdk/static/gen/crds/generated.go
Labels: contribution, output
