Repository kube-logging/logging-operator, pull requests merged in 2020-02, with the labels that each got.

#342 Fix nested module CI, fix several other bugs
  Makefile
  config/samples/logging_v1alpha2_logging_default.yaml
  docs/developers.md
  docs/troubleshooting.md
  go.mod
  pkg/resources/fluentd/fluentd.go
  pkg/resources/model/system.go
  pkg/sdk/api/v1beta1/fluentbit_types.go
  pkg/sdk/api/v1beta1/logging_types.go
  pkg/sdk/api/v1beta1/suite_test.go
  pkg/sdk/model/filter/grep.go
  pkg/sdk/model/output/elasticsearch_test.go
  pkg/sdk/model/output/kinesis_stream_test.go
  pkg/sdk/model/render/fluent_test.go
  pkg/sdk/model/types/stringmaps_test.go
Labels: bug, community, core

#359 Fluentbit config key fix
  charts/logging-operator/crds/logging.banzaicloud.io_loggings.yaml
  config/crd/bases/logging.banzaicloud.io_loggings.yaml
  docs/crds/v1beta1/fluentbit_types.md
  docs/fluentbit.md
  pkg/sdk/api/v1beta1/fluentbit_types.go
Labels: bug, fluentbit

#354 Add support for New Relic Logs output plugin
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/crds/v1beta1/output_types.md
  docs/plugins/Readme.md
  docs/plugins/outputs/newrelic.md
  fluentd-image/v1.7/Dockerfile
  pkg/sdk/api/v1beta1/output_types.go
  pkg/sdk/api/v1beta1/zz_generated.deepcopy.go
  pkg/sdk/model/output/newrelic.go
  pkg/sdk/model/output/newrelic_test.go
  pkg/sdk/model/output/zz_generated.deepcopy.go
Labels: contribution, fluentd, output, testing

#351 Add output support for LogZ
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/crds/v1beta1/output_types.md
  docs/plugins/Readme.md
  docs/plugins/outputs/logz.md
  fluentd-image/v1.7/Dockerfile
  pkg/sdk/api/v1beta1/output_types.go
  pkg/sdk/api/v1beta1/zz_generated.deepcopy.go
  pkg/sdk/model/output/logz.go
  pkg/sdk/model/output/logz_test.go
  pkg/sdk/model/output/zz_generated.deepcopy.go
Labels: contribution, core

#365 Add named service port with udp for istio
  pkg/resources/fluentd/service.go
Labels: fluentd

#372 New fluentbit version 1.3.6 -> 1.3.8
  charts/logging-operator-logging/README.md
  charts/logging-operator/README.md
  config/samples/logging_v1alpha2_logging_debug.yaml
  docs/fluentbit.md
  pkg/sdk/api/v1beta1/logging_types.go
Labels: core, fluentbit

#373 Docs/new plugin version 3.0.0
  charts/logging-operator-logging/README.md
  charts/logging-operator/Chart.yaml
  charts/logging-operator/README.md
  charts/logging-operator/values.yaml
  docs/crds.md
  docs/deploy/manifests/deployment.yaml
  docs/img/logging-operator-v2-architecture.png
  docs/img/monitor.png
  docs/img/nginx-cloudwatch.png
  docs/img/nginx-elastic.png
  docs/img/nginx-loki.png
  docs/img/nignx-kafka.png
  docs/img/s3_flow.png
  docs/plugins/Readme.md
  pkg/sdk/model/filter/concat.go
  pkg/sdk/model/filter/dedot.go
  pkg/sdk/model/filter/detect_exceptions.go
  pkg/sdk/model/filter/geoip.go
  pkg/sdk/model/filter/prometheus.go
  pkg/sdk/model/filter/record_modifier.go
  pkg/sdk/model/filter/tagnormaliser.go
  pkg/sdk/model/output/elasticsearch.go
  pkg/sdk/model/output/kafka.go
  pkg/sdk/model/output/loki.go
  pkg/sdk/model/output/newrelic.go
  pkg/sdk/model/output/s3.go
Labels: documentation

#379 Add ClusterFlows/Outputs to logging chart
  charts/logging-operator-logging/Chart.yaml
  charts/logging-operator-logging/README.md
  charts/logging-operator-logging/templates/clusterflows.yaml
  charts/logging-operator-logging/templates/clusteroutputs.yaml
  charts/logging-operator-logging/values.yaml
Labels: chart, community, contribution

#384 Update logging-operator chart README.md file
  charts/logging-operator/README.md
Labels: contribution, documentation

#383 Fix Kinesis assume role config
  pkg/sdk/model/output/kinesis_stream.go
  pkg/sdk/model/output/kinesis_stream_test.go
Labels: contribution, output

#386 added helm chart namespace override
  charts/logging-operator/Chart.yaml
  charts/logging-operator/README.md
  charts/logging-operator/templates/_helpers.tpl
  charts/logging-operator/templates/deployment.yaml
  charts/logging-operator/templates/psp.yaml
  charts/logging-operator/templates/rbac.yaml
  charts/logging-operator/templates/service.yaml
  charts/logging-operator/values.yaml
Labels: chart, contribution

#388 Selector fix
  docs/logging-operator-monitoring.md
  docs/quickstarts/loki-nginx.md
Labels: documentation

#390 Remove use of QualifiedName in clusterPodSecurityPolicy() as it is al…
  pkg/resources/fluentd/psp.go
Labels: contribution, core
