Repository kube-logging/logging-operator, pull requests merged in 2020-03, with the labels that each got.

#398 Fluentbit Parser_N fix
  charts/logging-operator/crds/logging.banzaicloud.io_loggings.yaml
  config/crd/bases/logging.banzaicloud.io_loggings.yaml
  docs/crds/v1beta1/fluentbit_types.md
  pkg/resources/fluentbit/config.go
  pkg/resources/fluentbit/configsecret.go
  pkg/sdk/api/v1beta1/fluentbit_types.go
  pkg/sdk/api/v1beta1/zz_generated.deepcopy.go
Labels: bug, fluentbit

#401 output buffer retry_forever parameter fix
  docs/plugins/outputs/buffer.md
  pkg/sdk/go.mod
  pkg/sdk/model/output/buffer.go
  pkg/sdk/model/output/zz_generated.deepcopy.go
  pkg/sdk/model/render/fluent_test.go
Labels: bug, output

#402 Fix helm chart scoping
  charts/logging-operator-logging/Chart.yaml
  charts/logging-operator-logging/templates/clusterflows.yaml
  charts/logging-operator-logging/templates/clusteroutputs.yaml
Labels: chart, community, contribution

#426 add index_name option to Elasticsearch output plugin
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/plugins/outputs/elasticsearch.md
  pkg/sdk/model/output/elasticsearch.go
  pkg/sdk/static/gen/crds/generated.go
Labels: contribution, output

#425 Logging-Operator chart priorityClassName support
  charts/logging-operator/README.md
  charts/logging-operator/templates/deployment.yaml
  charts/logging-operator/values.yaml
Labels: chart

#427 ElasticSearch reload_after, sniffer-class-name param support
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/plugins/outputs/elasticsearch.md
  pkg/sdk/model/output/elasticsearch.go
  pkg/sdk/static/gen/crds/generated.go
Labels: output
