Repository kube-logging/logging-operator, pull requests merged in 2020-01, with the labels that each got.

#298 FluentD FluentBit liveness, readiness probe config support
  charts/logging-operator/crds/logging.banzaicloud.io_loggings.yaml
  config/crd/bases/logging.banzaicloud.io_loggings.yaml
  docs/crds.md
  fluentd-image/v1.7/Dockerfile
  fluentd-image/v1.7/healthy.sh
  pkg/resources/fluentbit/daemonset.go
  pkg/resources/fluentd/fluentd.go
  pkg/resources/fluentd/statefulset.go
  pkg/sdk/api/v1beta1/fluentbit_types.go
  pkg/sdk/api/v1beta1/fluentd_types.go
  pkg/sdk/api/v1beta1/logging_types.go
  pkg/sdk/api/v1beta1/zz_generated.deepcopy.go
Labels: community, core

#307 chart/logging-operator-logging fix without TLS
  charts/logging-operator-logging/Chart.yaml
  charts/logging-operator-logging/templates/logging.yaml
Labels: bug, chart

#296 Fix storageClassName for fluentd in README
  ADOPTERS.md
  charts/logging-operator/README.md
Labels: bug, chart, community

#315 [charts/logging-operator] fix service label
  charts/logging-operator/Chart.yaml
  charts/logging-operator/templates/service.yaml
Labels: bug, chart, community

#313 added log_group_name_key attribute
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/plugins/outputs/cloudwatch.md
  pkg/sdk/model/output/cloudwatch.go
Labels: community, output

#316 Elastic Output config
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/plugins/outputs/elasticsearch.md
  pkg/sdk/model/output/elasticsearch.go
  pkg/sdk/model/output/elasticsearch_test.go
  pkg/sdk/model/output/zz_generated.deepcopy.go
Labels: bug, core, output

#320 Prometheus filter support
  charts/logging-operator/crds/logging.banzaicloud.io_clusterflows.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_flows.yaml
  config/crd/bases/logging.banzaicloud.io_clusterflows.yaml
  config/crd/bases/logging.banzaicloud.io_flows.yaml
  docs/plugins/Readme.md
  docs/plugins/filters/prometheus.md
  pkg/sdk/api/v1beta1/flow_types.go
  pkg/sdk/api/v1beta1/zz_generated.deepcopy.go
  pkg/sdk/go.sum
  pkg/sdk/model/filter/prometheus.go
  pkg/sdk/model/filter/prometheus_test.go
  pkg/sdk/model/filter/zz_generated.deepcopy.go
Labels: filter

#323 Update example-s3.md
  docs/quickstarts/example-s3.md
Labels: community, documentation

#322 Filter test & Doc finetuning
  charts/logging-operator/crds/logging.banzaicloud.io_clusterflows.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_flows.yaml
  config/crd/bases/logging.banzaicloud.io_clusterflows.yaml
  config/crd/bases/logging.banzaicloud.io_flows.yaml
  docs/Readme.md
  docs/blogs.md
  docs/plugins/Readme.md
  docs/plugins/filters/concat.md
  docs/plugins/filters/dedot.md
  docs/plugins/filters/detect_exceptions.md
  docs/plugins/filters/geoip.md
  docs/plugins/filters/parser.md
  docs/plugins/filters/record_transformer.md
  docs/plugins/filters/stdout.md
  docs/plugins/filters/tagnormaliser.md
  docs/quickstarts/README.md
  pkg/sdk/model/filter/concat.go
  pkg/sdk/model/filter/concat_test.go
  pkg/sdk/model/filter/dedot.go
  pkg/sdk/model/filter/dedot_test.go
  pkg/sdk/model/filter/detect_exceptions.go
  pkg/sdk/model/filter/geoip.go
  pkg/sdk/model/filter/geoip_test.go
  pkg/sdk/model/filter/parser.go
  pkg/sdk/model/filter/record_transformer.go
  pkg/sdk/model/filter/record_transformer_test.go
  pkg/sdk/model/filter/stdout.go
  pkg/sdk/model/filter/stdout_test.go
  pkg/sdk/model/filter/tagnormaliser.go
  pkg/sdk/model/filter/tagnormaliser_test.go
Labels: documentation, filter

#325 add append option to file output
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/plugins/outputs/file.md
  pkg/sdk/model/output/file.go
Labels: community, output

#321 File output config upgrade
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/plugins/outputs/file.md
  pkg/sdk/model/output/file.go
  pkg/sdk/model/output/file_test.go
  pkg/sdk/model/output/zz_generated.deepcopy.go
Labels: community, output

#331 add possibility to mount extra volumes to fluent-bit pods
  charts/logging-operator/crds/logging.banzaicloud.io_loggings.yaml
  config/crd/bases/logging.banzaicloud.io_loggings.yaml
  docs/crds.md
  docs/crds/v1beta1/fluentbit_types.md
  pkg/resources/fluentbit/daemonset.go
  pkg/resources/fluentbit/psp.go
  pkg/sdk/api/v1beta1/fluentbit_types.go
  pkg/sdk/api/v1beta1/zz_generated.deepcopy.go
Labels: community, core, fluentbit

#337 Feature/remove epochchart
  charts/logging-demo/Chart.yaml
  charts/logging-demo/templates/logging.yaml
  charts/logging-operator-logging/Chart.yaml
  charts/logging-operator-logging/templates/logging.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/plugins/outputs/file.md
  pkg/resources/fluentbit/config.go
  pkg/sdk/api/v1beta1/logging_types.go
  pkg/sdk/model/output/file.go
Labels: chart, core

#338 Add explicit default for timekey_wait buffer parameter
  docs/plugins/outputs/buffer.md
  pkg/sdk/model/output/buffer.go
Labels: community, core, fluentd
