Repository kube-logging/logging-operator, pull requests merged in 2020-07, with the labels that each got.

#515 Removed not exists resources from crd kustomize template
  config/crd/kustomization.yaml
Labels: community, contribution, core

#516 docs: fix hugo frontmatter
  pkg/sdk/model/filter/concat.go
Labels: documentation

#512 Throttle plugin support
  charts/logging-operator/Chart.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_clusterflows.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_flows.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_loggings.yaml
  config/crd/bases/logging.banzaicloud.io_clusterflows.yaml
  config/crd/bases/logging.banzaicloud.io_flows.yaml
  config/crd/bases/logging.banzaicloud.io_loggings.yaml
  docs/crds/v1beta1/flow_types.md
  docs/plugins/_index.md
  docs/plugins/filters/throttle.md
  fluentd-image/v1.10/Dockerfile
  pkg/sdk/api/v1beta1/flow_types.go
  pkg/sdk/api/v1beta1/logging_types.go
  pkg/sdk/api/v1beta1/zz_generated.deepcopy.go
  pkg/sdk/model/filter/throttle.go
  pkg/sdk/model/filter/throttle_test.go
  pkg/sdk/model/filter/zz_generated.deepcopy.go
  pkg/sdk/static/gen/crds/generated.go
Labels: community, contribution

#526 Docs fix
  docs/logging-operator-monitoring.md
Labels: documentation

#529 Datadog output support
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/crds/v1beta1/output_types.md
  docs/plugins/_index.md
  docs/plugins/outputs/datadog.md
  fluentd-image/v1.10/Dockerfile
  fluentd-image/v1.7/Dockerfile
  fluentd-image/v1.9/Dockerfile
  pkg/sdk/api/v1beta1/output_types.go
  pkg/sdk/api/v1beta1/zz_generated.deepcopy.go
  pkg/sdk/model/output/datadog.go
  pkg/sdk/model/output/datadog_test.go
  pkg/sdk/model/output/zz_generated.deepcopy.go
  pkg/sdk/static/gen/crds/generated.go
Labels: fluentd, output

#528 Dependency update
  docs/crds/v1beta1/clusterflow_types.md
  docs/crds/v1beta1/clusteroutput_types.md
  docs/crds/v1beta1/common_types.md
  docs/crds/v1beta1/flow_types.md
  docs/crds/v1beta1/fluentbit_types.md
  docs/crds/v1beta1/fluentd_types.md
  docs/crds/v1beta1/logging_types.md
  docs/crds/v1beta1/output_types.md
  docs/plugins/common/security.md
  docs/plugins/common/transport.md
  docs/plugins/filters/concat.md
  docs/plugins/filters/dedot.md
  docs/plugins/filters/detect_exceptions.md
  docs/plugins/filters/geoip.md
  docs/plugins/filters/grep.md
  docs/plugins/filters/parser.md
  docs/plugins/filters/prometheus.md
  docs/plugins/filters/record_modifier.md
  docs/plugins/filters/record_transformer.md
  docs/plugins/filters/stdout.md
  docs/plugins/filters/tagnormaliser.md
  docs/plugins/outputs/azurestore.md
  docs/plugins/outputs/buffer.md
  docs/plugins/outputs/cloudwatch.md
  docs/plugins/outputs/elasticsearch.md
  docs/plugins/outputs/file.md
  docs/plugins/outputs/format.md
  docs/plugins/outputs/forward.md
  docs/plugins/outputs/gcs.md
  docs/plugins/outputs/http.md
  docs/plugins/outputs/kafka.md
  docs/plugins/outputs/kinesis_stream.md
  docs/plugins/outputs/logz.md
  docs/plugins/outputs/loki.md
  docs/plugins/outputs/newrelic.md
  docs/plugins/outputs/oss.md
  docs/plugins/outputs/s3.md
  docs/plugins/outputs/splunk_hec.md
  docs/plugins/outputs/sumologic.md
  go.mod
  go.sum
Labels: core

#527 fields column in Splunk Hec output plugin is not working . #505
  docs/plugins/outputs/splunk_hec.md
  pkg/sdk/model/output/splunk_hec.go
  pkg/sdk/model/output/splunk_hec_test.go
  pkg/sdk/model/output/zz_generated.deepcopy.go
Labels: bug, output

#530 LogDNA Output support
  charts/logging-demo/README.md
  charts/logging-demo/templates/flow.yaml
  charts/logging-demo/templates/output_file.yaml
  charts/logging-demo/templates/output_logdna.yaml
  charts/logging-demo/values.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_outputs.yaml
  config/crd/bases/logging.banzaicloud.io_clusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_outputs.yaml
  docs/crds/v1beta1/output_types.md
  docs/example-logdna-nginx.md
  docs/examples/logging_output_logdna.yaml
  docs/img/Screenshot-logdna.png
  docs/img/logdna.svg
  docs/img/nginx-logdna.svg
  docs/plugins/_index.md
  docs/plugins/outputs/datadog.md
  docs/plugins/outputs/kinesis_firehose.md
  docs/plugins/outputs/logdna.md
  fluentd-image/v1.10/Dockerfile
  fluentd-image/v1.7/Dockerfile
  fluentd-image/v1.9/Dockerfile
  pkg/sdk/api/v1beta1/output_types.go
  pkg/sdk/api/v1beta1/zz_generated.deepcopy.go
  pkg/sdk/go.sum
  pkg/sdk/model/output/logdna.go
  pkg/sdk/model/output/logdna_test.go
  pkg/sdk/model/output/zz_generated.deepcopy.go
  pkg/sdk/static/gen/crds/generated.go
Labels: core, fluentd, output

#534 SeLinux support
  docs/plugins/outputs/logdna.md
  docs/security/_index.md
  pkg/resources/fluentbit/daemonset.go
  pkg/resources/fluentd/statefulset.go
Labels: core, security

#533 Fluentd 1.11 support
  fluentd-image/v1.11/Dockerfile
  fluentd-image/v1.11/entrypoint.sh
  fluentd-image/v1.11/fluent.conf
  fluentd-image/v1.11/healthy.sh
Labels: core, fluentd
