Repository kube-logging/logging-operator, pull requests merged in 2024-10, with the labels that each got.

#1820 chore: resolve e2e test result conflict
  .github/workflows/e2e.yaml
Labels: github_actions, bugfix

#1824 chore: drop codeql workflow
  .github/workflows/codeql.yml
Labels: github_actions

#1822 fix: adjust kustomize config for latest version
  config/crd/kustomization.yaml
  config/crd/patches/webhook_in_clusterflows.yaml
  config/crd/patches/webhook_in_clusteroutputs.yaml
  config/crd/patches/webhook_in_flows.yaml
  config/crd/patches/webhook_in_fluentbits.yaml
  config/crd/patches/webhook_in_fluentds.yaml
  config/crd/patches/webhook_in_loggings.yaml
  config/crd/patches/webhook_in_outputs.yaml
  config/default/kustomization.yaml
Labels: bugfix

#1821 feat: add image and chart signing
  .github/workflows/artifacts.yaml
Labels: enhancement, github_actions

#1827 feat: enable adding annotations and labels to pvcs
  charts/logging-operator/crds/logging-extensions.banzaicloud.io_eventtailers.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_fluentbitagents.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_fluentdconfigs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_loggings.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_nodeagents.yaml
  config/crd/bases/logging-extensions.banzaicloud.io_eventtailers.yaml
  config/crd/bases/logging.banzaicloud.io_fluentbitagents.yaml
  config/crd/bases/logging.banzaicloud.io_fluentdconfigs.yaml
  config/crd/bases/logging.banzaicloud.io_loggings.yaml
  config/crd/bases/logging.banzaicloud.io_nodeagents.yaml
  go.mod
  go.sum
Labels: enhancement

#1826 feat: enhance buffer-metrics sidecar
  charts/logging-operator/crds/logging.banzaicloud.io_fluentbitagents.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_fluentdconfigs.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_loggings.yaml
  charts/logging-operator/crds/logging.banzaicloud.io_syslogngconfigs.yaml
  config/crd/bases/logging.banzaicloud.io_fluentbitagents.yaml
  config/crd/bases/logging.banzaicloud.io_fluentdconfigs.yaml
  config/crd/bases/logging.banzaicloud.io_loggings.yaml
  config/crd/bases/logging.banzaicloud.io_syslogngconfigs.yaml
  docs/configuration/crds/v1beta1/fluentbit_types.md
  docs/configuration/crds/v1beta1/fluentd_types.md
  docs/configuration/crds/v1beta1/syslogng_types.md
  pkg/resources/fluentbit/daemonset.go
  pkg/resources/fluentd/statefulset.go
  pkg/resources/syslogng/statefulset.go
  pkg/sdk/logging/api/v1beta1/fluentbit_types.go
  pkg/sdk/logging/api/v1beta1/fluentd_types.go
  pkg/sdk/logging/api/v1beta1/logging_types.go
  pkg/sdk/logging/api/v1beta1/syslogng_types.go
  pkg/sdk/logging/api/v1beta1/zz_generated.deepcopy.go
Labels: enhancement

#1825 feat: protected cluster output syslogng
  charts/logging-operator/crds/logging.banzaicloud.io_syslogngclusteroutputs.yaml
  config/crd/bases/logging.banzaicloud.io_syslogngclusteroutputs.yaml
  controllers/logging/logging_controller_test.go
  docs/configuration/crds/v1beta1/logging_types.md
  docs/configuration/crds/v1beta1/syslogng_clusteroutput_types.md
  pkg/resources/model/reconciler.go
  pkg/resources/model/system.go
  pkg/sdk/logging/api/v1beta1/logging_types.go
  pkg/sdk/logging/api/v1beta1/syslogng_clusteroutput_types.go
  pkg/sdk/logging/model/syslogng/config/config.go
  pkg/sdk/logging/model/syslogng/config/flow.go
Labels: output, fluentd, go, syslog-ng, bugfix, feature

#1831 fix(syslogng_servicemonitor): add missing fields from syslogng-spec
  pkg/resources/syslogng/service.go
Labels: go, syslog-ng, bugfix

#1832 feat: install CRDs from a subchart
  Makefile
  charts/logging-operator/Chart.yaml
  charts/logging-operator/README.md
  charts/logging-operator/charts/crds/Chart.yaml
  charts/logging-operator/charts/crds/README.md
  charts/logging-operator/charts/crds/templates/logging-extensions.banzaicloud.io_eventtailers.yaml
  charts/logging-operator/charts/crds/templates/logging-extensions.banzaicloud.io_hosttailers.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_clusterflows.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_clusteroutputs.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_flows.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_fluentbitagents.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_fluentdconfigs.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_loggingroutes.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_loggings.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_nodeagents.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_outputs.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_syslogngclusterflows.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_syslogngclusteroutputs.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_syslogngconfigs.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_syslogngflows.yaml
  charts/logging-operator/charts/crds/templates/logging.banzaicloud.io_syslogngoutputs.yaml
  charts/logging-operator/charts/crds/values.yaml
  charts/logging-operator/values.yaml
  hack/crds.annotations.snippet.txt
Labels: enhancement, chart, contribution
